*{
    font-family: "Vazirmatn";
    font-weight: 100;
}
body{
    background-image: linear-gradient(to bottom, #0d004d, #190766, #251081, #31199c, #3e23b9);
    background-attachment: fixed;
    margin: 0;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: inherit;
}
/*----------------------------------------------------------------------------header------------------------------------------------------------------------*/
#header{
    width: 100%;
    margin: auto;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}
#main-logo{
    display: block;
    margin: auto;
    width: 130px;
}
.header-side-design{
    width: 70px;
}
#nav-container{
    border-bottom: 1px solid #ddd;
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin: 30px auto 50px auto;
}
.nav-items{
    color: #fff;
    font-size: 20px;
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 200px;
}
.nav-items:hover{
    transform: scale(1.2);
    transition-duration: 0.3s;
}
/*--------------------------------------------------------------------------main content------------------------------------------------------------------*/
main{
    overflow: auto;
    background-image: linear-gradient(to bottom, #0d004d, #190766, #251081, #31199c, #3e23b9);
    height: 800px;
    width: 100%;
}

/*--------------------------------------------------------------------------footer------------------------------------------------------------------------*/
footer{
    z-index: -2;
    position: sticky;
    bottom: 0;
    width: 100%;
    color: #ddd;
    direction: rtl;
    border-top: 1px solid #b3baff;
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-around;
    align-items: center;
    height: 300px;
    text-align: justify;
}
.footer-heading{
    color: #fff;
    font-size: 18px;
    padding-bottom: 20px;
    margin-bottom: 50px;
    text-align: center;
    border-bottom: #251081 1px solid;
}
#socials-list{
    width: 130px;
    padding: 5px 0px 5px 5px;
    display: flex;
    justify-content: space-between;
}
.socials-icons{
    width: 30px;
}
