footer{
    z-index: -2;
    position: sticky;
    bottom: 0;
    color: #ddd;
    direction: rtl;
    text-align: justify;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
    #main-sections-container{flex-direction: column; height: 50vh;}
    #footer-info-section{ color:red; flex-direction: column; gap:50px;}
    footer{flex-direction: column;}
}
#footer-info-section{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}
.footer-heading{
    color: #fff;
    font-size: 18px;
    padding-bottom: 20px;
    margin-bottom: 50px;
    text-align: center;
    border-bottom: #44338e 1px solid;
}
.footer-info-containers{
    width: 25%;
    height: 200px;
}
#socials-list{
    display: flex;
    justify-content: space-around;
    padding-inline: 0;
}
.socials-icons{
    width: 40px;
}