*{
    font-family: "Vazirmatn";
    font-weight: 100;
}
body{
    background-image: linear-gradient(to bottom, #0d004d, #190766, #251081, #31199c, #3e23b9);
    background-attachment: fixed;
    margin: 0;
    text-align: center;
    box-sizing: border-box;
}
:root{
    --font-size-one: 18px;
}
li{
    list-style-type: none;
}
/*----------------------------------------------------------------------------header------------------------------------------------------------------------*/
#header{
    padding: 1% 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#main-logo{
    width: 130px;
}
.header-side-design{
    background-image: repeating-linear-gradient(180deg,
        #ffc400 0,
        #ffc400 20px,
        transparent 20px,
        transparent 40px,
        #ffc400 40px,
        #ffc400 60px,
        transparent 60px,
        transparent 80px,
        #ffc400 80px,
        #ffc400 100px);
    width: 100px;
    height: 100px;
}
#nav-container{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #ddd;
    height: 10vh;
}
.nav-items{
    color: #fff;
    font-size: var(--font-size-one);
    background: none;
    border: none;
    cursor: pointer;
    width: 25%;
}
.nav-items:hover{
    transform: scale(1.2);
    transition-duration: 0.3s;
}
/*--------------------------------------------------------------------------main content------------------------------------------------------------------*/
main{
    background-image: linear-gradient(to bottom, #0d004d, #190766, #251081, #31199c, #3e23b9);
    border-bottom: 1px solid #ffc400;
    height: 100vh;
}
#content-container{
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: row wrap;
    justify-content: space-between;
    align-items: center;
    height: 70vh;
}
.main-sections{
    color: #ffc400;
    flex: 0 0 30%;
    height: 55vh;
    font-size: 250%;
    text-shadow: 0px 0px 3px #000, 0 0 5px #000, 0 0 99px #0d004d;
    cursor: pointer;
    padding: 0;
    border: none;
}
.main-sections:hover{
    transform: scale(1.1);   
    transition-duration: 0.3s;
}
#main-sections-repair{
    background-image: url("../images/repairsectionpic.jpg");
    background-size: cover;
}
#main-sections-store{
    background-image: url("../images/storesectionpic.jpg");
    background-size: cover;
}
#main-sections-sales{
    background-image: url("../images/salessectionpic.jpg");
    background-size: cover;
}
/*--------------------------------------------------------------------------footer------------------------------------------------------------------------*/
footer{
    z-index: -2;
    position: sticky;
    bottom: 0;
    color: #ddd;
    direction: rtl;
}
#footer-info-section{
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: space-around;
    align-items: center;
}
.footer-heading{
    color: #fff;
    font-size: var(--font-size-one);
    line-height: 350%;
    border-bottom: #44338e 1px solid;
}
.footer-info-containers{
    width: 25%;
}
#socials-list{
    display: flex;
    justify-content: space-around;
    padding-inline: 0;
}
.socials-icons{
    width: 30%;
}
#contactus-info table{
    margin: auto;
}
@media screen and (min-width: 0) and (max-width: 767px) {
    #nav-container{ height: 5vh; }
    .nav-items-extended{display: none !important;}

    .nav-items{font-size: 90%; width: auto;}
    #content-container{flex-direction: column; margin: 2vh auto;}
    .main-sections{min-width: 90vw;}

    .footer-info-containers{width:90%;}
    #googlemap{width: 90%;}
}