*{
    font-family: "Vazirmatn";
    font-weight: 100;
}
body{
    background-image: linear-gradient(to bottom, #0d004d, #190766, #251081, #31199c, #3e23b9);
    background-attachment: fixed;
    margin: 0;
}
li{
    list-style-type: none;
}
/*----------------------------------------------------------------------------header------------------------------------------------------------------------*/
#header{
    width: 100%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 50px;
    border-bottom: 1px solid #ddd;
    border-bottom-width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: end;
}
#main-logo{
    display: block;
    margin: auto;
    width: 130px;
}
.header-side-design{
    width: 70px;
}
/*--------------------------------------------------------------------------main content------------------------------------------------------------------*/
main{
    overflow: auto;
    background-image: linear-gradient(to bottom, #0d004d, #190766, #251081, #31199c, #3e23b9);
    height: 100vh;
    width: 100%;
}
#content-container{
    display: flex;
    height: 500px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#dealershipsname{
    color: #fff;
    font-size: 90px;
}
#ownersname{
    color: #fff;
    font-size: 30px;
}
#main-sections-container{
    margin: auto;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.main-sections{
    flex-basis: 30%;
    flex-grow: 0;
    flex-shrink: 0;
    height: 60px;
    text-align: center;
    font-size: 16px;
    background: #fff;
    border-radius: 50px;
    cursor: pointer;
}
.main-sections:hover{
    transform: scale(1.1);    
}
/*--------------------------------------------------------------------------footer------------------------------------------------------------------------*/
footer{
    z-index: -2;
    position: sticky;
    bottom: 0;
    width: 100%;
    color: #ddd;
    direction: rtl;
    border-top: 1px solid #b3baff;
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-around;
    align-items: center;
    height: 300px;
    text-align: justify;
}
.footer-heading{
    color: #fff;
    font-size: 18px;
    padding-bottom: 20px;
    margin-bottom: 50px;
    text-align: center;
    border-bottom: #251081 1px solid;
}
#socials-list{
    width: 130px;
    padding: 5px 0px 5px 5px;
    display: flex;
    justify-content: space-between;
}
.socials-icons{
    width: 30px;
}
